* {
  font-family: 'Oxygen', sans-serif;
}

.header__img {
  position: relative;
  max-width: 100%;
}

.header__nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;
  z-index: 1;
}

.header__nav__item {
  padding: 20px 20px;
  text-decoration: none;
  display: block;

}

.header__nav__item:hover {
  background: rgba(255,255,255,0.5);
}

.header__nav .icon {
  display: none;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.5rem;
}

.header__container {
  position: absolute;
  width: 90%;
  top: 5%;
  left: 5%;
}

.header__h1box {
  position: relative;
  width: 40%;
}

.header__h1box__h1 {
  letter-spacing: 0.1em;
}

.about__container {
  margin: 0 auto;
  width: 90%;
}

.about__flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__flexcontainer * {
  width: 45%;
}

.about__img {
  width: 40%;
  height: 40%;
}

.team_section {
  background-color: #f6fbfc;
}
 .team__container{
margin: 0 auto;
width: 90%;
}

.team__flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team_section__profile {
  flex: 1;
  padding: 1%;
}
.team_section__profile__text{
  width: 200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 4em;
}

.team_section__profile__headshot__img img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 1px solid black;
  width: 200px;
}

.team_section__icon__flexcontainer{
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 0 15px;
  margin: 0 auto 2em;
}
.team_section__icon__codewars{
  width: 26px;
  height: 25px;
}

input, textarea, button {
  font-family: 'Oxygen', sans-serif;
  font: 1.5em;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  height: 150px;
  resize: none;
}

button {
  width: 322px;
  padding: 20px 0;
  background:#649CB2;
  border:none;
}

iframe {
  width: 100vw;
}

.contact-container {
  width: 90%;
  margin: 0 auto;
}

.contact {
  display: flex;
}

form, .social {
  flex: 1;
}

i {
  font-size: 2em;
}


@media (min-width: 550px) {
  .team__flexcontainer{
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px)  {
  .header__nav .header__nav__item {
    display: none;
  }

  .header__nav .icon {
    display: block;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .responsive .header__nav__item {
    padding: 20px 15px;
    text-align: right;
    display: inline;
    width: 60px;
  }

}
